.spacing-around {
    padding: 2em;
}

.spacing-vertical {
    padding-top: 6em;
    padding-bottom: 6em;
}

@media (max-width: 700px) {    
    .spacing-around {
        padding: 1em;
    }

    .spacing-vertical {
        padding-top: 4em;
        padding-bottom: 4em;
    }
}
