nav ul {
    display: flex;
    justify-content: space-between;
}

nav ul li:nth-of-type(2) button {
    border: none;

    background-color: transparent;
}

header h1 {
    grid-column-start: 1;
    grid-column-end: 5;

    margin-top: 1em;
}

header div {
    grid-column-start: 5;
    grid-column-end: 13;
}

header div img {
    width: 100%;
}

main section:nth-of-type(2) {
    display: flex;
    flex-direction: column;
}

main section:nth-of-type(2) article:nth-of-type(1) h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main section:nth-of-type(2) article:nth-of-type(1) p {
    grid-column-start: 3;
    grid-column-end: 8;
}

main section:nth-of-type(2) article:nth-of-type(1) div {
    grid-column-start: 8;
    grid-column-end: 13;
}

main section:nth-of-type(2) article:nth-of-type(1) div img {
    width: 100%;
}

main section:nth-of-type(2) article:nth-of-type(2) {
    margin-top: 2em;
}

main section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(1) {
    grid-column-start: 3;
    grid-column-end: 8;
}

main section:nth-of-type(2) article:nth-of-type(2) p:nth-of-type(2) {
    grid-column-start: 8;
    grid-column-end: 13;
}

main section:nth-of-type(3) h2 {
    grid-column-start: 3;
    grid-column-end: 13;
}

main section:nth-of-type(4) article:nth-of-type(1) h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main section:nth-of-type(4) article:nth-of-type(1) p:nth-of-type(1) {
    grid-column-start: 3;
    grid-column-end: 8;
}

main section:nth-of-type(4) article:nth-of-type(1) p:nth-of-type(2) {
    grid-column-start: 8;
    grid-column-end: 13;
}

main section:nth-of-type(4) article:nth-of-type(2) div {
    grid-column-start: 3;
    grid-column-end: 13;

    display: flex;
    justify-content: center;
    align-items: center;
}

main section:nth-of-type(4) article:nth-of-type(2) div img {
    width: 75%;
}

main section:nth-of-type(5) h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main section:nth-of-type(5) ul {
    grid-column-start: 3;
    grid-column-end: 13;
}

.accordion-button {
    width: 100%;

    padding: 1.4em 0;

    border-top: 1px solid var(--text-color);
    border-right: 0;
    border-bottom: 0;
    border-left: 0;

    background-color: transparent;
}

main section:nth-of-type(5) ul li:last-child .accordion-button {
    border-bottom: 1px solid var(--text-color);  
}

.accordion-button h3 {
    text-align: left;
}

.accordion-button h3 span:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 5;
}

.accordion-button h3 span:nth-of-type(2) {
    grid-column-start: 5;
    grid-column-end: 9;
}

.accordion-button h3 span:nth-of-type(3) {
    grid-column-start: 9;
    grid-column-end: 13;
}

.accordion-panel { 
    display: none;
}

.accordion-panel p {
    text-transform: none;
}

.accordion-panel-toggle {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 2em;

    padding: 1.4em 0;

    border-top: 1px solid var(--text-color);
}

main section:nth-of-type(5) ul li:last-child .accordion-panel-toggle {
    border-top: none;
    border-bottom: 1px solid var(--text-color);
}

.accordion-panel-toggle h4 {
    grid-column-start: 1;
    grid-column-end: 5;
}

.accordion-panel-toggle p {
    grid-column-start: 5;
    grid-column-end: 13;
}

main section:nth-of-type(6) h2 {
    grid-column-start: 3;
    grid-column-end: 13;
}

main section:nth-of-type(7) h2 {
    grid-column-start: 1;
    grid-column-end: 3;
}

main section:nth-of-type(7) article {
    grid-column-start: 3;
    grid-column-end: 13;
}

main section:nth-of-type(7) article ul:nth-of-type(1) {
    grid-column-start: 1;
    grid-column-end: 5;
}
main section:nth-of-type(7) article ul:nth-of-type(2) {
    grid-column-start: 5;
    grid-column-end: 9;
}
main section:nth-of-type(7) article ul:nth-of-type(3) {
    grid-column-start: 9;
    grid-column-end: 13;
}

main section:nth-of-type(7) article ul h3 {
    margin-bottom: 1em;
}

main section:nth-of-type(7) article ul li {
    text-transform: none;
}

main section:nth-of-type(9) {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
}

footer ul {
    display: flex;
}

footer ul li:nth-of-type(1) {
    padding-right: 1.6em;
}